.container { 
    width: 80%;
    height: 80%;
    padding: 0.5%;
}
.sidebar_container{
    width: 40%;
    height: auto;
}
.chat_container{ 
    width: 60%;
    border-top-right-radius: 5rem !important;
}
.messages { 
    height: calc(100% - 100px);
}